body {
    font-family: Arial, sans-serif;
    color: #222222;
}

a {
    color: #222222;
    font-size: 12px;
    margin: 0 auto;
    border: none;
    width: auto;
}

a:hover {
    color: #000000;
}

.alignleft {
    float: left;
    padding-left: 15px;
    opacity: 0.75;
    display: inline-block;
}

.alignright {
    float: right;
    padding-left: 15px;
    opacity: 0.75;
    display: inline-block;
}

.logo {
    display: block;
    height: 92px;
    width: 272px;
    padding-top: 109px;
    text-align: center;
    margin: 10% 0 auto;
}

.form {
    display: block;
    margin: 30px 0px;
    padding 10px 50px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.form:hover {
    box-shadow: 0px 0px 2px 1px lightgray;
}

.bar {
    border: none;
    margin: 0% 0%;
    width: 100%;
}

footer {
    display: block;
    color: #F2F2F2;
    font-size: 14px;
    line-height: 40px;
    border-top: 1px solid #E4E4E4
}



